
#!/bin/bash 
 
MOTD="/etc/motd" 
 
# Text Color Variables 
BLK="\033[00;30m"    # BLACK 
R="\033[00;31m"      # RED 
GRN="\033[00;32m"    # GREEN 
BR="\033[00;33m"     # BROWN 
BL="\033[00;34m"     # BLUW 
P="\033[00;35m"      # PURPLE 
C="\033[00;36m"      # CYAN 
LtG="\033[00;37m"    # LIGHT GRAY 
 
DkG="\033[01;30m"    # DARK GRAY 
LtR="\033[01;31m"    # LIGHT RED 
LtGRN="\033[01;32m"  # LIGHT GREEN 
Y="\033[01;33m"      # YELLOW 
LtBL="\033[01;34m"   # LIGHT BLUE 
LtP="\033[01;35m"    # LIGHT PURPLE 
LtC="\033[01;36m"    # LIGHT CYAN 
W="\033[01;37m"      # WHITE 
RESET="\033[0m" 
 
# MOTD 
echo -e "" > $MOTD 
echo -e "{{ logo_color }}" >> $MOTD 

echo "                    ..:^^^^^^^::..             " >> $MOTD
echo "                   !?777777777???777~:.        " >> $MOTD
echo "                ...:!777777777!::::^~?7!.      " >> $MOTD
echo "             :~7777!~!7777777:.~!7!~.:77?^     " >> $MOTD
echo "          .~77777777777777777 ~?7!  ^ !777.    " >> $MOTD
echo "        .!7777777777777777777^.^!!^:.:777?.    " >> $MOTD
echo "       ~7777777777777777777777!^^^^^!77!~^     " >> $MOTD
echo "     .!77777777777777777777777~~~~~~^^^~^      " >> $MOTD
echo "     !7777777777777777777777777~^^^^^::        " >> $MOTD
echo "    ~77777777777777777777777777                " >> $MOTD
echo "    777777777777777777777777777!               " >> $MOTD
echo "   .777777777777777777777^!7777?~              " >> $MOTD
echo "   .777777777777777777!:   ^!~!!!~^^           " >> $MOTD
echo "    !777777777777!~^. ...:::.                  " >> $MOTD
echo "    .?77777777^.    .~77!!!777~.               " >> $MOTD
echo "     ^?7777777:    ^?7^.    :777.              " >> $MOTD
echo "      ^77777777:   ~?7: .^.  !77~              " >> $MOTD
echo "       :77777777~.  :~!!~:  ^777:              " >> $MOTD
echo "         :!7777777!^......^7?7!.               " >> $MOTD
echo "           .^!7777?????????7~:                 " >> $MOTD
echo "               ..:^^^^^^:..                    " >> $MOTD
echo -e $RESET >> $MOTD 
echo -e "===========================================================================" >> $MOTD 
echo -e {{ message_of_the_day }} >> $MOTD 
echo "=========================================================================== 
 - Hostname............: $HOSTNAME 
 - Release.............: `cat /etc/os-release | grep PRETTY | awk 'NR==1 {split($0,a,"="); print a[2]}'` 
=========================================================================== 
" >> $MOTD 
